<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Empleado API</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: darkslategray;
            margin: 0;
            padding: 0;
        }

        h4 {
            background-color: #007bff;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        p {
            background-color: lightgray;
            color: #333;
            padding: 10px;
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        h5 {
            background-color: orangered;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h4>Ejecute las siguientes peticiones desde alguna plataforma API como Postman.</h4>
    <h5>Si utiliza Postman, es necesario descargar Postman Agent Desktop para poder procesar las solicitudes con localhost.</h5>
    <p class="request">Para traer todos los empleados: <code>GET http://localhost:<em>puerto</em>/api/empleado</code></p>
    <p class="request">Para traer un empleado: <code>GET http://localhost:<em>puerto</em>/api/empleado/{id}</code></p>
    <p class="request">Para agregar un nuevo empleado: <code>POST http://localhost:<em>puerto</em>/api/empleado</code></p>
    <p class="request">Para actualizar un empleado: <code>PUT http://localhost:<em>puerto</em>/api/empleado/{id}</code></p>
    <p class="request">Para eliminar un empleado: <code>DELETE http://localhost:<em>puerto</em>/api/empleado/{id}</code></p>
</body>
</html>