<h2>Actualizar empleado</h2>

<form [formGroup]="employeeForm" (submit)="onSubmit()">
    <label for="FirstName">Nombre:</label>
    <input type="text" id="FirstName" formControlName="FirstName">
    <div *ngIf="employeeForm.get('FirstName')?.invalid && (employeeForm.get('FirstName')?.touched || formSubmitted)">
        <div *ngIf="employeeForm.get('FirstName')?.hasError('required')" class="input-error">Nombre es requerido.</div>
        <div *ngIf="employeeForm.get('FirstName')?.hasError('pattern')" class="input-error">Nombre solo debe contener letras.</div>
        <div *ngIf="employeeForm.get('FirstName')?.hasError('maxlength')" class="input-error">Nombre debe tener 20 caracteres maximo.</div>
    </div>

    <label for="LastName">Apellido:</label>
    <input type="text" id="LastName" formControlName="LastName">
    <div *ngIf="employeeForm.get('LastName')?.invalid && (employeeForm.get('LastName')?.touched || formSubmitted)">
        <div *ngIf="employeeForm.get('LastName')?.hasError('required')" class="input-error">Apellido es requerido.</div>
        <div *ngIf="employeeForm.get('LastName')?.hasError('pattern')" class="input-error">Apellido solo debe contener letras.</div>
        <div *ngIf="employeeForm.get('LastName')?.hasError('maxlength')" class="input-error">Apellido debe tener 20 caracteres maximo.</div>
    </div>

    <label for="Title">Titulo:</label>
    <input type="text" id="Title" formControlName="Title">
    <div *ngIf="employeeForm.get('Title')?.invalid && (employeeForm.get('Title')?.touched || formSubmitted)">
        <div *ngIf="employeeForm.get('Title')?.hasError('pattern')" class="input-error">Titulo solo debe contener letras.</div>
        <div *ngIf="employeeForm.get('Title')?.hasError('maxlength')" class="input-error">Titulo debe tener 30 caracteres maximo.</div>
    </div>
    
    <label for="HireDate">Fecha de contratacion:</label>
    <input type="date" id="HireDate" formControlName="HireDate">

    <label for="City">Ciudad:</label>
    <input type="text" id="City" formControlName="City">
    <div *ngIf="employeeForm.get('City')?.invalid && (employeeForm.get('City')?.touched || formSubmitted)">
        <div *ngIf="employeeForm.get('City')?.hasError('pattern')" class="input-error">Ciudad solo debe contener letras.</div>
        <div *ngIf="employeeForm.get('City')?.hasError('maxlength')" class="input-error">Ciudad debe tener 20 caracteres maximo.</div>
    </div>

    <label for="Country">Pais:</label>
    <input type="text" id="Country" formControlName="Country">
    <div *ngIf="employeeForm.get('Country')?.invalid && (employeeForm.get('Country')?.touched || formSubmitted)">
        <div *ngIf="employeeForm.get('Country')?.hasError('pattern')" class="input-error">Pais solo debe contener letras.</div>
        <div *ngIf="employeeForm.get('Country')?.hasError('maxlength')" class="input-error">Pais debe tener 20 caracteres maximo.</div>
    </div>

    <label for="HomePhone">Nro. de telefono:</label>
    <input type="tel" id="HomePhone" formControlName="HomePhone" placeholder="(341) 555-9857">
    <div *ngIf="employeeForm.get('HomePhone')?.invalid && (employeeForm.get('HomePhone')?.touched || formSubmitted)">
        <div *ngIf="employeeForm.get('HomePhone')?.hasError('pattern')" class="input-error">Telefono debe tener el formato (123) 456-7890.</div>
        <div *ngIf="employeeForm.get('HomePhone')?.hasError('maxlength')" class="input-error">Telefono debe tener 14 caracteres maximo.</div>
    </div>

    <button type="submit">Guardar</button>
</form>
