<div class="popup">
    <div class="container">
        <mat-icon class="mat-icon" [style.color]="data.b ? 'green' : 'red'">{{ data.b ? 'check' : 'error' }}</mat-icon>
        <ng-container *ngIf="data.b; else error">
            <p class="text">¡{{ data.message }}!</p>
        </ng-container>
        <ng-template #error>
            <p class="text">¡{{ data.message }}!</p>
            <h3>Es posible que el empleado tenga referencias con datos de otras tablas.</h3>
        </ng-template>
        <button class="close-button" (click)="closePopup()">Cerrar</button>
    </div>
</div>
